{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock title %}

{% block body %}
<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		GAMER ELECTRONICS KENYA is committed to protecting your privacy. This Privacy Policy outlines how we collect,
		use, and safeguard your personal information when you use our services.
	</p>
</section>

<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		We may collect certain personal information, such as your name, email address, and location, to provide you with
		a better shopping experience. Rest assured that we handle your information with utmost confidentiality and do
		not share it with third parties without your consent.
	</p>
</section>

<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		For more details on how we handle your data, please refer to our full Privacy Policy document. If you have any
		questions or concerns, please contact us at
		<a href="mailto:Felixkomen3981@gmail.com" class="text-teal-500 hover:underline">Felixkomen3981@gmail.com</a>.
	</p>
</section>
{% endblock body %}