{% extends "base.html" %}
{% block title %}Terms of Use{% endblock title %}

{% block body %}
<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		By using GAMER ELECTRONICS KENYA's services, you agree to abide by the following terms and conditions:
	</p>
</section>

<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		1. You agree to use our services for lawful purposes and in accordance with all applicable laws and regulations.
	</p>
	<p class="text-lg leading-6">
		2. The content and materials on our website are the property of GAMER ELECTRONICS KENYA and may not be
		reproduced without permission.
	</p>
	<p class="text-lg leading-6">
		3. We reserve the right to modify or terminate our services at any time without prior notice.
	</p>
</section>

<section class="my-8 px-4 sm:px-8 md:px-16 lg:px-20">
	<p class="text-lg leading-6">
		For a complete understanding of our Terms of Use, please review the full document. If you have any questions or
		concerns, contact us at
		<a href="mailto:Felixkomen3981@gmail.com" class="text-teal-500 hover:underline">Felixkomen3981@gmail.com</a>.
	</p>
</section>
{% endblock body %}