{% extends 'base.html' %}

{% block title %}Conversation{% endblock %} 

{% block body %}
    <h1 class="mb-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Conversation</h1>

    <div class="space-y-6">
        {% for message in conversation.messages.all %}
        <div class="p-4 md:p-6 lg:p-8 flex {{ 'bg-blue-100' if message.created_by == request.user else 'bg-gray-100' }} rounded-xl">
            <div>
                <p class="mb-2 sm:mb-4">
                    <strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}
                </p>
                <p class="text-sm md:text-base">{{ message.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <form method="post" action="." class="mt-6">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button class="py-4 px-8 text-lg sm:text-xl bg-teal-500 hover:bg-teal-700 rounded-xl text-white">
            Send
        </button>
    </form>
{% endblock body %}