{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block body %}
    <h1 class="mb-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">Inbox</h1>

    <div class="space-y-6">
        {% for conversation in conversations %}
            <a href="{% url 'conversation:detail' conversation.id %}">
                <div class="p-4 md:p-6 lg:p-8 flex bg-gray-100 rounded-xl">
                    <div class="pr-4 md:pr-6 lg:pr-8">
                        <img src="{{ conversation.item.image.url }}" class="w-16 md:w-20 rounded-xl">
                    </div>

                    <div>
                        {% for member in conversation.members.all %}
                            {% if member != request.user %}
                                <p class="mb-2 md:mb-4"><strong>{{ member.username }}</strong> | {{ conversation.modified_at }}</p>
                                <p class="text-sm md:text-base">{{ conversation.item.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock body %}