{% load static %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Gamer-Port</title>
</head>
{% include "dependancies/css.html" %}

<body class="flex flex-col min-h-screen">
    {% include "components/header.html" %}
    <main class="flex-grow">{% block body %}{% endblock body %}</main>
    {% include "components/footer.html" %} {% include "dependancies/js.html" %}
</body>

</html>