{% load static %}

<header class="bg-gray-200">
    <nav class="py-4 px-6 sm:py-6 sm:px-10 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold flex items-center justify-center">
			<img class="w-24" src="{% static "img/logo.png" %}" alt="">
			<span>Gamer Electrinics KE</span>
		</a>

		<div class="space-x-6">
			{% if request.user.is_staff %}
			<a href="{% url "products:new" %}" class="text-lg font-semibold hover:text-gray-500">New item</a>
			{% endif %}

            <a href="{% url 'products:list' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>

			{% if request.user.is_authenticated %}
			{% comment %} <a href="{% url "chat:inbox" %}"
				class="text-lg font-semibold hover:text-gray-500">Inbox
			</a> {% endcomment %}
			<a href="{% url "account_logout" %}"
				class="px-6 py-3 text-lg font-semibold bg-yellow-500 text-white rounded-xl hover:bg-yellow-700">Logout
			</a>
			{% else %}
			<a href="{% url "account_signup" %}"
				class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up
			</a>
			<a href="{% url "account_login" %}"
				class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in
			</a>
			{% endif %}
		</div>
	</nav>
</header>
